### 1. age_score

In [282]:
import pandas as pd
import numpy as np
file='/save/saps2_file/mimic_Age.csv'
age=pd.read_csv(file, sep=',', encoding='CP949')
age

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,age
0,10002428,28662225,2156-04-12 14:16:00,2156-04-29 16:26:00,33987268,2156-04-12 17:25:00,2156-04-12 16:24:18,2156-04-17 15:57:08,2156-04-12 18:42:00,control,81
1,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,34100191,2196-02-29 00:00:00,2196-02-24 17:07:00,2196-02-29 15:58:02,2196-02-29 05:51:00,control,47
2,10004733,27411876,2174-12-04 11:28:00,2174-12-27 14:00:00,39635619,2174-12-05 00:00:00,2174-12-04 11:28:24,2174-12-12 20:03:01,2174-12-05 02:30:00,control,51
3,10005606,29646384,2143-12-06 00:54:00,2143-12-16 16:00:00,38740124,2143-12-06 20:00:00,2143-12-06 02:08:00,2143-12-12 16:25:18,2143-12-06 20:19:00,hypotension,38
4,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,66
...,...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,2182-01-04 00:00:00,2182-01-24 00:00:00,34058245,2182-01-19 12:00:00,2182-01-14 04:16:54,2182-01-23 21:50:34,2182-01-19 16:03:00,control,67
7510,19990821,27777812,2143-03-06 16:20:00,2143-03-18 15:51:00,38906628,2143-03-07 00:00:00,2143-03-06 16:21:17,2143-03-07 06:40:14,2143-03-07 03:15:00,hypotension,70
7511,19995595,21784060,2126-10-17 21:43:00,2126-11-12 17:35:00,34670930,2126-10-24 08:00:00,2126-10-18 01:43:00,2126-11-05 17:32:07,2126-10-24 11:10:00,control,68
7512,19997752,29452285,2128-02-28 21:28:00,2128-03-10 14:35:00,34531437,2128-03-05 12:00:00,2128-03-02 11:09:09,2128-03-07 11:46:51,2128-03-05 12:31:00,hypotension,66
7513,19999287,22997012,2197-07-26 03:29:00,2197-07-31 14:00:00,37692584,2197-07-27 00:00:00,2197-07-26 03:31:06,2197-07-27 16:07:29,2197-07-27 04:16:00,control,77

In [283]:
age= age.replace({np.nan:None})

def age_score(table):

     # age_score
    for i, row in table.iterrows():
        if table.at[i,'age'] == None:
            table.at[i,'age_score'] = None
        elif table.at[i,'age'] >= 80: 
            table.at[i,'age_score']= 18
        elif table.at[i,'age'] >= 75:
            table.at[i,'age_score']= 16
        elif table.at[i,'age'] >= 70:
            table.at[i,'age_score']= 15
        elif table.at[i,'age'] >= 60:
            table.at[i,'age_score']= 12
        elif table.at[i,'age'] >= 40:
            table.at[i,'age_score']= 7
        else:
            table.at[i,'age_score']= 0
age_score(age)
age

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,age,age_score
0,10002428,28662225,2156-04-12 14:16:00,2156-04-29 16:26:00,33987268,2156-04-12 17:25:00,2156-04-12 16:24:18,2156-04-17 15:57:08,2156-04-12 18:42:00,control,81,18.0
1,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,34100191,2196-02-29 00:00:00,2196-02-24 17:07:00,2196-02-29 15:58:02,2196-02-29 05:51:00,control,47,7.0
2,10004733,27411876,2174-12-04 11:28:00,2174-12-27 14:00:00,39635619,2174-12-05 00:00:00,2174-12-04 11:28:24,2174-12-12 20:03:01,2174-12-05 02:30:00,control,51,7.0
3,10005606,29646384,2143-12-06 00:54:00,2143-12-16 16:00:00,38740124,2143-12-06 20:00:00,2143-12-06 02:08:00,2143-12-12 16:25:18,2143-12-06 20:19:00,hypotension,38,0.0
4,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,66,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,2182-01-04 00:00:00,2182-01-24 00:00:00,34058245,2182-01-19 12:00:00,2182-01-14 04:16:54,2182-01-23 21:50:34,2182-01-19 16:03:00,control,67,12.0
7510,19990821,27777812,2143-03-06 16:20:00,2143-03-18 15:51:00,38906628,2143-03-07 00:00:00,2143-03-06 16:21:17,2143-03-07 06:40:14,2143-03-07 03:15:00,hypotension,70,15.0
7511,19995595,21784060,2126-10-17 21:43:00,2126-11-12 17:35:00,34670930,2126-10-24 08:00:00,2126-10-18 01:43:00,2126-11-05 17:32:07,2126-10-24 11:10:00,control,68,12.0
7512,19997752,29452285,2128-02-28 21:28:00,2128-03-10 14:35:00,34531437,2128-03-05 12:00:00,2128-03-02 11:09:09,2128-03-07 11:46:51,2128-03-05 12:31:00,hypotension,66,12.0
7513,19999287,22997012,2197-07-26 03:29:00,2197-07-31 14:00:00,37692584,2197-07-27 00:00:00,2197-07-26 03:31:06,2197-07-27 16:07:29,2197-07-27 04:16:00,control,77,16.0

In [284]:
age.to_csv(('SAPS2_SCORE_Age.csv'), index=False)

### 2. vital_score

In [285]:
import pandas as pd
file='/save/saps2_file/mimic_Vitals.csv'
vital=pd.read_csv(file, sep=',', encoding='CP949')
vital

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,hr,sbp,tem,gcs
0,10002428,28662225,2156-04-12 14:16:00,2156-04-29 16:26:00,33987268,2156-04-12 17:25:00,2156-04-12 16:24:18,2156-04-17 15:57:08,2156-04-12 18:42:00,control,124,87.0,39.4,15.0
1,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,34100191,2196-02-29 00:00:00,2196-02-24 17:07:00,2196-02-29 15:58:02,2196-02-29 05:51:00,control,144,123.0,NaN,4.0
2,10004733,27411876,2174-12-04 11:28:00,2174-12-27 14:00:00,39635619,2174-12-05 00:00:00,2174-12-04 11:28:24,2174-12-12 20:03:01,2174-12-05 02:30:00,control,87,167.0,37.4,8.0
3,10005606,29646384,2143-12-06 00:54:00,2143-12-16 16:00:00,38740124,2143-12-06 20:00:00,2143-12-06 02:08:00,2143-12-12 16:25:18,2143-12-06 20:19:00,hypotension,100,119.0,36.8,15.0
4,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,80,126.0,36.2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,2182-01-04 00:00:00,2182-01-24 00:00:00,34058245,2182-01-19 12:00:00,2182-01-14 04:16:54,2182-01-23 21:50:34,2182-01-19 16:03:00,control,110,133.0,37.4,4.0
7510,19990821,27777812,2143-03-06 16:20:00,2143-03-18 15:51:00,38906628,2143-03-07 00:00:00,2143-03-06 16:21:17,2143-03-07 06:40:14,2143-03-07 03:15:00,hypotension,84,177.0,35.7,3.0
7511,19995595,21784060,2126-10-17 21:43:00,2126-11-12 17:35:00,34670930,2126-10-24 08:00:00,2126-10-18 01:43:00,2126-11-05 17:32:07,2126-10-24 11:10:00,control,58,186.0,27.8,3.0
7512,19997752,29452285,2128-02-28 21:28:00,2128-03-10 14:35:00,34531437,2128-03-05 12:00:00,2128-03-02 11:09:09,2128-03-07 11:46:51,2128-03-05 12:31:00,hypotension,80,125.0,36.3,3.0
7513,19999287,22997012,2197-07-26 03:29:00,2197-07-31 14:00:00,37692584,2197-07-27 00:00:00,2197-07-26 03:31:06,2197-07-27 16:07:29,2197-07-27 04:16:00,control,99,166.0,36.9,15.0

In [286]:
vital= vital.replace({np.nan:None})

def vital_score(table):

    # heart_rate_score
    for i, row in table.iterrows():
        if table.at[i,'hr'] == None:
            table.at[i,'heart_rate_score'] = None
        elif table.at[i,'hr'] < 40: 
            table.at[i,'heart_rate_score']= 11
        elif table.at[i,'hr'] <= 69:
            table.at[i,'heart_rate_score']= 2
        elif table.at[i,'hr'] <= 119:
            table.at[i,'heart_rate_score']= 0
        elif table.at[i,'hr'] <= 159:
            table.at[i,'heart_rate_score']= 4
        else:
            table.at[i,'heart_rate_score']= 7
            
    
    # bp_score
    for i, row in table.iterrows():
        if table.at[i,'sbp'] == None:
            table.at[i,'sbp_score'] = None
        elif table.at[i,'sbp'] < 70: 
            table.at[i,'sbp_score']= 13
        elif table.at[i,'sbp'] <= 99:
            table.at[i,'sbp_score']= 5
        elif table.at[i,'sbp'] <= 199:
            table.at[i,'sbp_score']= 0
        else:
            table.at[i,'sbp_score']= 2
            
    # temperate_score
    for i, row in table.iterrows():
        if table.at[i,'tem'] == None:
            table.at[i,'temperate_score'] = None
        elif table.at[i,'tem'] >= 39: 
            table.at[i,'temperate_score']= 3
        else:
            table.at[i,'temperate_score']= 0

    # gcs_score
    for i, row in table.iterrows():
        if table.at[i,'gcs'] == None:
            table.at[i,'gcs_score'] = None
        elif table.at[i,'gcs'] >= 14: 
            table.at[i,'gcs_score']= 0
        elif table.at[i,'gcs'] >= 11: 
            table.at[i,'gcs_score']= 5
        elif table.at[i,'gcs'] >= 9: 
            table.at[i,'gcs_score']= 7
        elif table.at[i,'gcs'] >= 6: 
            table.at[i,'gcs_score']= 13
        else:
            table.at[i,'gcs_score']= 26
            
    table.loc[:,'vital_score'] = table.loc[:,'heart_rate_score':'gcs_score'].sum(axis=1)
vital_score(vital)
vital

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,hr,sbp,tem,gcs,heart_rate_score,sbp_score,temperate_score,gcs_score,vital_score
0,10002428,28662225,2156-04-12 14:16:00,2156-04-29 16:26:00,33987268,2156-04-12 17:25:00,2156-04-12 16:24:18,2156-04-17 15:57:08,2156-04-12 18:42:00,control,124,87.0,39.4,15.0,4.0,5.0,3.0,0.0,12.0
1,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,34100191,2196-02-29 00:00:00,2196-02-24 17:07:00,2196-02-29 15:58:02,2196-02-29 05:51:00,control,144,123.0,None,4.0,4.0,0.0,NaN,26.0,30.0
2,10004733,27411876,2174-12-04 11:28:00,2174-12-27 14:00:00,39635619,2174-12-05 00:00:00,2174-12-04 11:28:24,2174-12-12 20:03:01,2174-12-05 02:30:00,control,87,167.0,37.4,8.0,0.0,0.0,0.0,13.0,13.0
3,10005606,29646384,2143-12-06 00:54:00,2143-12-16 16:00:00,38740124,2143-12-06 20:00:00,2143-12-06 02:08:00,2143-12-12 16:25:18,2143-12-06 20:19:00,hypotension,100,119.0,36.8,15.0,0.0,0.0,0.0,0.0,0.0
4,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,80,126.0,36.2,3.0,0.0,0.0,0.0,26.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,2182-01-04 00:00:00,2182-01-24 00:00:00,34058245,2182-01-19 12:00:00,2182-01-14 04:16:54,2182-01-23 21:50:34,2182-01-19 16:03:00,control,110,133.0,37.4,4.0,0.0,0.0,0.0,26.0,26.0
7510,19990821,27777812,2143-03-06 16:20:00,2143-03-18 15:51:00,38906628,2143-03-07 00:00:00,2143-03-06 16:21:17,2143-03-07 06:40:14,2143-03-07 03:15:00,hypotension,84,177.0,35.7,3.0,0.0,0.0,0.0,26.0,26.0
7511,19995595,21784060,2126-10-17 21:43:00,2126-11-12 17:35:00,34670930,2126-10-24 08:00:00,2126-10-18 01:43:00,2126-11-05 17:32:07,2126-10-24 11:10:00,control,58,186.0,27.8,3.0,2.0,0.0,0.0,26.0,28.0
7512,19997752,29452285,2128-02-28 21:28:00,2128-03-10 14:35:00,34531437,2128-03-05 12:00:00,2128-03-02 11:09:09,2128-03-07 11:46:51,2128-03-05 12:31:00,hypotension,80,125.0,36.3,3.0,0.0,0.0,0.0,26.0,26.0
7513,19999287,22997012,2197-07-26 03:29:00,2197-07-31 14:00:00,37692584,2197-07-27 00:00:00,2197-07-26 03:31:06,2197-07-27 16:07:29,2197-07-27 04:16:00,control,99,166.0,36.9,15.0,0.0,0.0,0.0,0.0,0.0

In [287]:
vital.to_csv(('SAPS2_SCORE_Vitals.csv'), index=False)

### 3. Oxygenation_score

In [326]:
import pandas as pd
file='/save/saps2_file/mimic_Oxygenation.csv'
Oxygenation=pd.read_csv(file, sep=',', encoding='CP949')
Oxygenation

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,vent,cpap,pao2_fio2
0,10002428,28662225,2156-04-12 14:16:00,2156-04-29 16:26:00,33987268,2156-04-12 17:25:00,2156-04-12 16:24:18,2156-04-17 15:57:08,2156-04-12 18:42:00,control,NaN,NaN,NaN
1,10004235,24181354,2196-02-24 14:38:00,2196-03-04 14:02:00,34100191,2196-02-29 00:00:00,2196-02-24 17:07:00,2196-02-29 15:58:02,2196-02-29 05:51:00,control,NaN,NaN,NaN
2,10004733,27411876,2174-12-04 11:28:00,2174-12-27 14:00:00,39635619,2174-12-05 00:00:00,2174-12-04 11:28:24,2174-12-12 20:03:01,2174-12-05 02:30:00,control,Ventilation,NaN,NaN
3,10005606,29646384,2143-12-06 00:54:00,2143-12-16 16:00:00,38740124,2143-12-06 20:00:00,2143-12-06 02:08:00,2143-12-12 16:25:18,2143-12-06 20:19:00,hypotension,Ventilation,NaN,NaN
4,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,Ventilation,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,2182-01-04 00:00:00,2182-01-24 00:00:00,34058245,2182-01-19 12:00:00,2182-01-14 04:16:54,2182-01-23 21:50:34,2182-01-19 16:03:00,control,Ventilation,NaN,NaN
7510,19990821,27777812,2143-03-06 16:20:00,2143-03-18 15:51:00,38906628,2143-03-07 00:00:00,2143-03-06 16:21:17,2143-03-07 06:40:14,2143-03-07 03:15:00,hypotension,Ventilation,NaN,NaN
7511,19995595,21784060,2126-10-17 21:43:00,2126-11-12 17:35:00,34670930,2126-10-24 08:00:00,2126-10-18 01:43:00,2126-11-05 17:32:07,2126-10-24 11:10:00,control,Ventilation,NaN,NaN
7512,19997752,29452285,2128-02-28 21:28:00,2128-03-10 14:35:00,34531437,2128-03-05 12:00:00,2128-03-02 11:09:09,2128-03-07 11:46:51,2128-03-05 12:31:00,hypotension,Ventilation,NaN,NaN
7513,19999287,22997012,2197-07-26 03:29:00,2197-07-31 14:00:00,37692584,2197-07-27 00:00:00,2197-07-26 03:31:06,2197-07-27 16:07:29,2197-07-27 04:16:00,control,NaN,NaN,NaN

In [327]:
Oxygenation= Oxygenation.replace({np.nan:None})

def Oxygenation_score(table):

    # Oxygenation_score
    for i, row in table.iterrows():
        if table.at[i,'vent'] == 'Ventilation' or table.at[i,'cpap'] =='ON':
            if table.at[i,'pao2_fio2'] == None:
                table.at[i,'Oxygenation_score'] = None
            elif table.at[i,'pao2_fio2'] < 100: 
                table.at[i,'Oxygenation_score']= 11
            elif table.at[i,'pao2_fio2'] <= 199:
                table.at[i,'Oxygenation_score']= 9
            else:
                table.at[i,'Oxygenation_score']= 6
        else:
            table.at[i,'Oxygenation_score']= 0
Oxygenation_score(Oxygenation)


# Oxygenation= Oxygenation.replace({np.nan:None})

# def Oxygenation_score(table):

#     # Oxygenation_score
#     for i, row in table.iterrows():
#         if table.at[i,'vent'] == 'Ventilation' or table.at[i,'cpap'] =='On':
#             table.at[i,'Oxygenation_score'] = None
#         else:
#             table.at[i,'Oxygenation_score'] = 0
# Oxygenation_score(Oxygenation)

In [328]:
Oxygenation.to_csv(('SAPS2_SCORE_Oxygenation.csv'), index=False)

### 4. Renal_score

In [291]:
import pandas as pd
file='/save/saps2_file/mimic_Renal.csv'
Renal=pd.read_csv(file, sep=',', encoding='CP949')

In [292]:
Renal= Renal.replace({np.nan:None})

def Renal_score(table):
    
    # Renal_score
    for i, row in table.iterrows():
        if table.at[i,'bun'] == None:
            table.at[i,'Renal_score']= None
        elif table.at[i,'bun'] >= 84:
            table.at[i,'Renal_score'] = 10
        elif table.at[i,'bun'] >= 28:
            table.at[i,'Renal_score']= 6
        else:
            table.at[i,'Renal_score']= 0
Renal_score(Renal)
Renal

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,bun,uri,Renal_score
0,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,13.0,None,0.0
1,10023486,25262533,2151-06-06 14:05:00,2151-06-24 20:13:00,31361200,2151-06-10 02:00:00,2151-06-06 14:06:06,2151-06-13 22:03:23,2151-06-10 04:44:00,control,31.0,None,6.0
2,10024982,25154057,2203-09-19 12:29:00,2203-10-11 19:10:00,37919901,2203-10-01 05:00:00,2203-09-20 18:27:39,2203-10-11 22:39:25,2203-10-01 07:29:00,control,36.0,None,6.0
3,10035631,29276678,2116-02-27 20:55:00,2116-03-12 07:45:00,30932571,2116-03-05 22:00:00,2116-02-28 18:43:20,2116-03-10 06:35:04,2116-03-06 03:37:00,hypotension,17.0,None,0.0
4,10038688,25926997,2181-12-06 06:16:00,2181-12-24 06:40:00,33804579,2181-12-08 04:00:00,2181-12-06 08:14:00,2181-12-22 20:27:01,2181-12-08 09:56:00,hypotension,20.0,None,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19962250,23717024,2125-12-03 02:27:00,2125-12-11 12:58:00,34648185,2125-12-04 08:00:00,2125-12-03 04:07:00,2125-12-06 19:09:46,2125-12-04 10:44:00,control,23.0,None,0.0
7510,19966568,25640873,2141-04-21 17:05:00,2141-04-26 15:30:00,32059064,2141-04-23 07:16:00,2141-04-22 10:03:57,2141-04-23 18:04:03,2141-04-23 09:09:00,control,13.0,None,0.0
7511,19970078,29613932,2197-12-07 20:02:00,2197-12-22 17:07:00,31215342,2197-12-11 12:00:00,2197-12-10 22:31:49,2197-12-17 00:01:07,2197-12-11 13:39:00,control,18.0,None,0.0
7512,19982539,23136520,2175-04-23 09:31:00,2175-06-04 12:10:00,31123584,2175-04-26 00:00:00,2175-04-23 13:28:52,2175-05-13 10:22:21,2175-04-26 04:05:00,control,20.0,None,0.0
7513,19988077,28414691,2140-05-02 20:55:00,2140-05-22 17:48:00,33339952,2140-05-13 14:47:00,2140-05-13 14:32:43,2140-05-15 21:50:02,2140-05-13 19:57:00,control,20.0,None,0.0

In [293]:
Renal.to_csv(('SAPS2_SCORE_Renal.csv'), index=False)

### 5. Chemistry_score

In [294]:
import pandas as pd
file='/save/saps2_file/mimic_Chemistry.csv'
chemistry=pd.read_csv(file, sep=',', encoding='CP949')

In [295]:
chemistry= chemistry.replace({np.nan:None})

def chemistry_score(table):

    # chemistry_score
    for i, row in table.iterrows():
        if table.at[i,'na'] == None:
            table.at[i,'sodium_score'] = None
        elif table.at[i,'na'] < 125:
            table.at[i,'sodium_score'] = 5
        elif table.at[i,'na'] < 144:
            table.at[i,'sodium_score'] = 0
        else:
            table.at[i,'sodium_score'] = 1
            
    # potassium_score
    for i, row in table.iterrows():
        if table.at[i,'po'] == None:
            table.at[i,'potassium_score'] = None
        elif table.at[i,'po'] < 3:
            table.at[i,'potassium_score'] = 3
        elif table.at[i,'po'] < 5:
            table.at[i,'potassium_score'] = 0
        else:
            table.at[i,'potassium_score'] = 3
            
    # bicarbonate_score
    for i, row in table.iterrows():
        if table.at[i,'bic'] == None:
            table.at[i,'bicarbonate_score'] = None
        elif table.at[i,'bic'] < 15:
            table.at[i,'bicarbonate_score'] = 6
        elif table.at[i,'bic'] < 20:
            table.at[i,'bicarbonate_score'] = 3
        else:
            table.at[i,'bicarbonate_score'] = 0
            
    # billirubin_score
    for i, row in table.iterrows():
        if table.at[i,'bil'] == None:
            table.at[i,'billirubin_score'] = None
        elif table.at[i,'bil'] < 4:
            table.at[i,'billirubin_score'] = 0
        elif table.at[i,'bil'] < 6:
            table.at[i,'billirubin_score'] = 4
        else:
            table.at[i,'billirubin_score'] = 9
            
    table.loc[:,'chemistry_score'] = table.loc[:,'sodium_score':'billirubin_score'].sum(axis=1)
    
chemistry_score(chemistry)
chemistry

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,na,po,bic,bil,sodium_score,potassium_score,bicarbonate_score,billirubin_score,chemistry_score
0,15945227,22675294,2176-03-29 07:15:00,2176-04-05 13:00:00,35318450,2176-03-31 08:00:00,2176-03-29 12:46:03,2176-03-31 15:00:11,2176-03-31 12:20:00,control,143.0,4.1,22.0,None,0.0,0.0,0.0,NaN,0.0
1,15386471,28958740,2120-02-27 19:07:00,2120-04-20 10:50:00,35806450,2120-03-08 00:00:00,2120-02-27 19:08:11,2120-04-20 11:13:05,2120-03-08 00:46:00,control,137.0,5.2,22.0,0.2,0.0,3.0,0.0,0.0,3.0
2,14583516,27330044,2158-12-27 14:23:00,2159-01-09 13:35:00,37249646,2158-12-27 20:00:00,2158-12-27 14:24:14,2159-01-08 10:37:18,2158-12-28 00:00:00,control,147.0,3.2,24.0,0.4,1.0,0.0,0.0,0.0,1.0
3,11139106,21321254,2113-08-14 07:45:00,2113-08-20 13:50:00,38739521,2113-08-16 04:30:00,2113-08-14 15:12:43,2113-08-16 15:55:46,2113-08-16 08:17:00,control,144.0,3.9,30.0,0.5,1.0,0.0,0.0,0.0,1.0
4,14756949,22498493,2174-08-10 00:00:00,2174-08-15 15:14:00,36602541,2174-08-10 21:30:00,2174-08-10 10:10:39,2174-08-11 18:16:39,2174-08-10 21:56:00,hypotension,139.0,4.5,25.0,None,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,15922631,24814668,2121-02-22 12:18:00,2121-02-28 16:33:00,34139172,2121-02-24 17:00:00,2121-02-24 04:19:18,2121-02-25 21:46:55,2121-02-24 18:00:00,control,136.0,4.0,24.0,None,0.0,0.0,0.0,NaN,0.0
7510,13077594,22574617,2185-04-19 21:45:00,2185-05-07 19:00:00,30056766,2185-04-25 12:00:00,2185-04-19 22:59:00,2185-05-07 19:05:25,2185-04-25 17:07:00,hypotension,150.0,3.6,21.0,0.2,1.0,0.0,0.0,0.0,1.0
7511,10880723,29827821,2204-03-09 13:30:00,2204-03-31 16:32:00,39757762,2204-03-10 20:00:00,2204-03-10 09:08:36,2204-03-22 21:06:44,2204-03-10 23:36:00,control,134.0,3.4,21.0,0.3,0.0,0.0,0.0,0.0,0.0
7512,12754610,21833815,2139-08-26 03:33:00,2139-08-28 18:33:00,32761752,2139-08-28 11:00:00,2139-08-26 05:13:00,2139-08-28 22:01:15,2139-08-28 12:02:00,control,143.0,4.5,27.0,None,0.0,0.0,0.0,NaN,0.0
7513,15303387,26864535,2177-06-14 14:05:00,2177-06-23 13:00:00,34228832,2177-06-17 21:00:00,2177-06-14 14:05:39,2177-06-18 22:29:55,2177-06-18 01:16:00,hypotension,143.0,3.9,24.0,0.6,0.0,0.0,0.0,0.0,0.0

In [296]:
chemistry.to_csv(('SAPS2_SCORE_Chemistry.csv'), index=False)

### 6. other_score

In [297]:
import pandas as pd
file='/save/saps2_file/mimic_Other.csv'
other=pd.read_csv(file, sep=',', encoding='CP949')

In [298]:
other

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,wbc,metastatic_cancer,hematologic_malignancy,aids,surgery
0,12854593,28763740,2169-02-17 09:02:00,2169-03-11 19:15:00,30192099,2169-02-27 00:00:00,2169-02-24 19:33:32,2169-03-01 05:12:14,2169-02-27 05:00:00,control,11.6,yes,NaN,NaN,NaN
1,13408774,21453234,2128-01-19 18:57:00,2128-01-24 05:45:00,30105012,2128-01-23 01:00:00,2128-01-19 18:58:13,2128-01-24 10:55:15,2128-01-23 02:03:00,hypotension,12.4,NaN,NaN,NaN,NaN
2,12528884,26762583,2189-09-14 18:22:00,2189-09-26 18:00:00,34964897,2189-09-22 00:00:00,2189-09-21 12:08:24,2189-09-24 17:05:02,2189-09-22 02:23:00,control,7.5,NaN,NaN,NaN,NaN
3,18169012,20900990,2160-09-12 18:40:00,2160-09-16 00:41:00,31703407,2160-09-13 12:00:00,2160-09-12 18:41:46,2160-09-16 05:07:40,2160-09-13 15:30:00,hypotension,9.4,NaN,NaN,NaN,NaN
4,11669302,20430044,2162-04-28 10:05:00,2162-05-13 16:00:00,36410868,2162-05-01 16:00:00,2162-05-01 04:44:02,2162-05-01 23:18:49,2162-05-01 21:34:00,control,13.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,15765351,21257077,2136-08-14 00:00:00,2136-08-19 13:09:00,39548722,2136-08-15 04:00:00,2136-08-14 15:48:48,2136-08-17 17:36:59,2136-08-15 06:14:00,control,14.2,NaN,NaN,NaN,NaN
7510,18274671,21731266,2118-09-06 08:54:00,2118-09-10 10:55:00,39035825,2118-09-08 00:00:00,2118-09-07 11:20:24,2118-09-10 10:58:37,2118-09-08 02:24:00,control,6.6,NaN,NaN,NaN,NaN
7511,17160548,26470937,2145-11-19 22:50:00,2145-12-14 12:26:00,30481344,2145-11-20 07:00:00,2145-11-20 01:08:00,2145-12-03 17:13:21,2145-11-20 12:41:00,control,14.9,NaN,NaN,NaN,NaN
7512,10156486,25194307,2124-04-06 21:28:00,2124-04-18 16:18:00,30065290,2124-04-09 08:00:00,2124-04-06 21:29:32,2124-04-09 17:40:47,2124-04-09 08:08:00,control,32.3,NaN,NaN,NaN,NaN
7513,15138264,26977522,2139-01-07 00:00:00,2139-01-12 17:21:00,33416632,2139-01-07 20:00:00,2139-01-07 12:20:45,2139-01-10 21:51:54,2139-01-07 21:59:00,control,20.0,NaN,NaN,NaN,NaN

In [299]:
other= other.replace({np.nan:None})

In [300]:
def other_score(table):

    # wbc_score
    for i, row in table.iterrows():
        if table.at[i,'wbc'] == None:
            table.at[i,'wbc_score'] = None
        elif table.at[i,'wbc'] < 1:
            table.at[i,'wbc_score'] = 12
        elif table.at[i,'wbc'] < 20:
            table.at[i,'wbc_score'] = 0
        else:
            table.at[i,'wbc_score'] = 3
            
    # chronic_score
    for i, row in table.iterrows():
        if table.at[i,'hematologic_malignancy'] == 'yes':
            table.at[i,'chronic_score'] = 10
        elif table.at[i,'metastatic_cancer']  == 'yes':
            table.at[i,'chronic_score'] = 9
        else:
            table.at[i,'chronic_score'] = 0

    # sugery_score
    for i, row in table.iterrows():
        if table.at[i,'surgery'] == None:
            table.at[i,'surgery_score'] = None
        elif table.at[i,'surgery']  == 'unscheduled':
            table.at[i,'surgery_score'] = 8
        else:
            table.at[i,'surgery_score'] = 0
    
    table.loc[:,'other_score'] = table.loc[:,'wbc_score':'surgery_score'].sum(axis=1)
            
other_score(other)
other

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,wbc,metastatic_cancer,hematologic_malignancy,aids,surgery,wbc_score,chronic_score,surgery_score,other_score
0,12854593,28763740,2169-02-17 09:02:00,2169-03-11 19:15:00,30192099,2169-02-27 00:00:00,2169-02-24 19:33:32,2169-03-01 05:12:14,2169-02-27 05:00:00,control,11.6,yes,None,None,None,0.0,9.0,NaN,9.0
1,13408774,21453234,2128-01-19 18:57:00,2128-01-24 05:45:00,30105012,2128-01-23 01:00:00,2128-01-19 18:58:13,2128-01-24 10:55:15,2128-01-23 02:03:00,hypotension,12.4,None,None,None,None,0.0,0.0,NaN,0.0
2,12528884,26762583,2189-09-14 18:22:00,2189-09-26 18:00:00,34964897,2189-09-22 00:00:00,2189-09-21 12:08:24,2189-09-24 17:05:02,2189-09-22 02:23:00,control,7.5,None,None,None,None,0.0,0.0,NaN,0.0
3,18169012,20900990,2160-09-12 18:40:00,2160-09-16 00:41:00,31703407,2160-09-13 12:00:00,2160-09-12 18:41:46,2160-09-16 05:07:40,2160-09-13 15:30:00,hypotension,9.4,None,None,None,None,0.0,0.0,NaN,0.0
4,11669302,20430044,2162-04-28 10:05:00,2162-05-13 16:00:00,36410868,2162-05-01 16:00:00,2162-05-01 04:44:02,2162-05-01 23:18:49,2162-05-01 21:34:00,control,13.2,None,None,None,None,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,15765351,21257077,2136-08-14 00:00:00,2136-08-19 13:09:00,39548722,2136-08-15 04:00:00,2136-08-14 15:48:48,2136-08-17 17:36:59,2136-08-15 06:14:00,control,14.2,None,None,None,None,0.0,0.0,NaN,0.0
7510,18274671,21731266,2118-09-06 08:54:00,2118-09-10 10:55:00,39035825,2118-09-08 00:00:00,2118-09-07 11:20:24,2118-09-10 10:58:37,2118-09-08 02:24:00,control,6.6,None,None,None,None,0.0,0.0,NaN,0.0
7511,17160548,26470937,2145-11-19 22:50:00,2145-12-14 12:26:00,30481344,2145-11-20 07:00:00,2145-11-20 01:08:00,2145-12-03 17:13:21,2145-11-20 12:41:00,control,14.9,None,None,None,None,0.0,0.0,NaN,0.0
7512,10156486,25194307,2124-04-06 21:28:00,2124-04-18 16:18:00,30065290,2124-04-09 08:00:00,2124-04-06 21:29:32,2124-04-09 17:40:47,2124-04-09 08:08:00,control,32.3,None,None,None,None,3.0,0.0,NaN,3.0
7513,15138264,26977522,2139-01-07 00:00:00,2139-01-12 17:21:00,33416632,2139-01-07 20:00:00,2139-01-07 12:20:45,2139-01-10 21:51:54,2139-01-07 21:59:00,control,20.0,None,None,None,None,3.0,0.0,NaN,3.0

In [301]:
other.to_csv(('SAPS2_SCORE_Other.csv'), index=False)

## SAPS2_SCORE details

### 1.age score

In [302]:
file='/save/SAPS2_SCORE_Age.csv'
SAPS2_SCORE_age=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_age['age_score'].value_counts()

7.0     1967
12.0    1933
18.0    1161
15.0     941
0.0      756
16.0     756
Name: age_score, dtype: int64

In [303]:
SAPS2_SCORE_age['age_score'].isnull().sum()

0

### 2.vitalscore

In [304]:
file='/save/SAPS2_SCORE_Vitals.csv'
SAPS2_SCORE_vital=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_vital['heart_rate_score'].value_counts()

0.0     5814
2.0      984
4.0      691
7.0       17
11.0       8
Name: heart_rate_score, dtype: int64

In [305]:
SAPS2_SCORE_vital['heart_rate_score'].isnull().sum()

0

In [306]:
SAPS2_SCORE_vital['sbp_score'].value_counts()

0.0     6212
5.0     1227
13.0      34
2.0       33
Name: sbp_score, dtype: int64

In [307]:
SAPS2_SCORE_vital['sbp_score'].isnull().sum()

8

In [308]:
SAPS2_SCORE_vital['temperate_score'].value_counts()

0.0    7159
3.0     173
Name: temperate_score, dtype: int64

In [309]:
SAPS2_SCORE_vital['temperate_score'].isnull().sum()

182

In [310]:
SAPS2_SCORE_vital['gcs_score'].value_counts()

26.0    2920
0.0     2270
13.0    1098
7.0      664
5.0      560
Name: gcs_score, dtype: int64

In [311]:
SAPS2_SCORE_vital['gcs_score'].isnull().sum()

2

## oxy

In [329]:
file='/save/SAPS2_SCORE_Oxygenation.csv'
SAPS2_SCORE_oxy=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_oxy['Oxygenation_score'].value_counts()

0.0     2733
11.0       2
6.0        1
Name: Oxygenation_score, dtype: int64

In [330]:
SAPS2_SCORE_oxy['Oxygenation_score'].isnull().sum()

4778

### 3.Renal score

In [314]:
file='/save/SAPS2_SCORE_Renal.csv'
SAPS2_SCORE_renal=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_renal['Renal_score'].value_counts()

0.0     5924
6.0     1419
10.0     110
Name: Renal_score, dtype: int64

In [315]:
SAPS2_SCORE_renal['Renal_score'].isnull().sum()

61

### 4.chemistry score

In [316]:
file='/save/SAPS2_SCORE_Chemistry.csv'
SAPS2_SCORE_chemistry=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_chemistry['sodium_score'].value_counts()

0.0    6618
1.0     778
5.0      60
Name: sodium_score, dtype: int64

In [317]:
SAPS2_SCORE_chemistry['potassium_score'].value_counts()

0.0    6401
3.0    1044
Name: potassium_score, dtype: int64

In [318]:
SAPS2_SCORE_chemistry['bicarbonate_score'].value_counts()

0.0    5964
3.0    1254
6.0     234
Name: bicarbonate_score, dtype: int64

In [319]:
SAPS2_SCORE_chemistry['billirubin_score'].value_counts()

0.0    2785
9.0     110
4.0      73
Name: billirubin_score, dtype: int64

### 5.other score

In [320]:
file='/save/SAPS2_SCORE_Other.csv'
SAPS2_SCORE_other=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_other['wbc_score'].value_counts()

0.0     6373
3.0     1014
12.0      49
Name: wbc_score, dtype: int64

In [321]:
SAPS2_SCORE_other['chronic_score'].value_counts()

0.0     7125
9.0      219
10.0     170
Name: chronic_score, dtype: int64

In [322]:
SAPS2_SCORE_other['surgery_score'].value_counts()

0.0    383
8.0    146
Name: surgery_score, dtype: int64

### 6. Oxygenation score

In [323]:
file='/save/SAPS2_SCORE_Oxygenation.csv'
SAPS2_SCORE_Oxygenation=pd.read_csv(file, sep=',', encoding='CP949')
SAPS2_SCORE_Oxygenation['Oxygenation_score'].value_counts()

0.0    2663
Name: Oxygenation_score, dtype: int64

In [324]:
merge_1 = pd.merge(SAPS2_SCORE_age[['subject_id','hadm_id','group_hypo','age_score']]
                   ,SAPS2_SCORE_vital[['subject_id','vital_score']],how='outer',on='subject_id')
merge_1 = pd.merge(merge_1
                   ,SAPS2_SCORE_renal[['subject_id','Renal_score']],how='outer',on='subject_id')
merge_1 = pd.merge(merge_1
                   ,SAPS2_SCORE_chemistry[['subject_id','chemistry_score']],how='outer',on='subject_id')
merge_1 = pd.merge(merge_1
                   ,SAPS2_SCORE_other[['subject_id','other_score']],how='outer',on='subject_id')
merge_1 = pd.merge(merge_1
                   ,SAPS2_SCORE_Oxygenation[['subject_id','Oxygenation_score']],how='outer',on='subject_id')

merge_1= merge_1.replace({np.nan:0})

merge_1.loc[:,'total'] = merge_1.loc[:,'age_score':'Oxygenation_score'].sum(axis=1)
merge_1

,subject_id,hadm_id,group_hypo,age_score,vital_score,Renal_score,chemistry_score,other_score,Oxygenation_score,total
0,10002428,28662225,control,18.0,12.0,0.0,0.0,3.0,0.0,33.0
1,10004235,24181354,control,7.0,30.0,10.0,15.0,3.0,0.0,65.0
2,10004733,27411876,control,7.0,13.0,6.0,1.0,0.0,0.0,27.0
3,10005606,29646384,hypotension,0.0,0.0,0.0,0.0,3.0,0.0,3.0
4,10005817,20626031,hypotension,12.0,26.0,0.0,0.0,0.0,0.0,38.0
...,...,...,...,...,...,...,...,...,...,...
7509,19990427,29695607,control,12.0,26.0,6.0,3.0,3.0,0.0,50.0
7510,19990821,27777812,hypotension,15.0,26.0,0.0,3.0,0.0,0.0,44.0
7511,19995595,21784060,control,12.0,28.0,0.0,0.0,0.0,0.0,40.0
7512,19997752,29452285,hypotension,12.0,26.0,0.0,0.0,0.0,0.0,38.0
7513,19999287,22997012,control,16.0,0.0,0.0,0.0,0.0,0.0,16.0

In [325]:
merge_1.to_csv(('SAPS2_SCORE_TOTAL.csv'), index=False)